
body{
background-color: rgb(43, 43, 136);
}
.navbar-nav{
    margin-left: 890px;
  font-size: 18px;
  
    
}
.nav-link{
    color:rgb(250, 250, 255)
}
.navbar-brand{
    font-size: 30px;
    color: rgb(244, 244, 249);
}
.h1{
    font-size: 70px;
    margin-left: 8%;
    margin-top: 10%;
    color: rgb(255, 255, 255);
}
.p{
    margin-left: 80px;
    padding-top: 30px;

    color: rgb(255, 255, 255);

   font-size: 20px;
}
.signin{
    border-radius: 20px;
    padding-left:10px;
    background-color: rgb(84, 171, 202);
}
.row{
    padding-top: 40px;
  padding-left: 550px;
}
  .form-control{
border-color: rgb(113, 108, 108);
    border-radius: 35px;
    background-color:rgb(43, 43, 136);
    color: rgb(102, 95, 95);
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn-primary{
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    background-color: rgb(76, 202, 231);
}
footer{
    margin-left: 560px;
    color: rgb(102, 95, 95);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}